<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form>
        <h2>Login</h2>

        <ul>
            <li><input type="text" name="email" placeholder="e-mail"></li>
            <li><input type="password" name="password" placeholder="password"></li>
        </ul>
        <button>Login</button>
    </form>
    <form>
        <h2>Login Admin</h2>

        <ul>
            <li><input type="text" name="email" placeholder="e-mail"></li>
            <li><input type="password" name="password" placeholder="password"></li>
        </ul>
        <button>Login</button>
    </form>
    <form>
        <h2>Login SuperAdmin</h2>

        <ul>
            <li><input type="text" name="email" placeholder="e-mail"></li>
            <li><input type="password" name="password" placeholder="password"></li>
        </ul>
        <button>Login</button>
    </form>

    <script src="login.js"></script>
    <script src="logic.js"></script>
    <script src="main.js"></script>
</body>
</html>