/*
    falta:
        imagen de perfil tiene posicion 
        absoluta y al redimensionar pierde 
        su posicion.

        en el main-header no me aparece el 
        sombreado en el bottom.

        responsiva para mobile pero no 
        adaptativa a desktop.

        texto de articles no se recorta 
        responsivamente. (js?¿)

        
*/
 
 
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
}
 
body{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    background-color: transparent;
}

.main-header{
    height: 20%;
}

.main-header__mbl{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid white;
    box-shadow: 1px 1px 1px lightgray;
    justify-content: space-between; 
    align-items: center;
    vertical-align: middle;
}

.main-header__mbl-title{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.main-header__mbl-channel-name{
    font-size: 14px;
    font-weight: 700;
}

.main-header__mbl-search-btn, .main-header__mbl-config-btn{
    padding: 20px;
    font-size: 18px;
    color: gray;
}

#header-logo{
    color: red;
    font-size: 22px;
    padding: 8px;
}

.main-header__dsktp{
    height: 50px;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 1px 1px 1px lightgray;
}

.main-header__dsktp-menu-btn{
    padding: 0 24px;
    color: slategray;
    font-size: 18px;
}

.main-header__dsktp-yt-logo{
    height: 16px;
    width: 70px;
}

.main-header__dsktp-search-input{
    border: 1px solid lightgray;
    height: 24px;
    width: 360px;
    margin: 0 0 0 76px;
}

.main-header__dsktp-search-btn{
    border: 1px solid lightgray;
    color: gray;
    background-color: whitesmoke;
    font-size: 12px;
    height: 28px;
    width: 60px;
}

.channel-header{
    display: flex;
    box-sizing: border-box;
    flex-flow: column;
}

.channel-header__channel-img{
    width: 100%;
    height: 45%;
}

.channel-header__profile-img{
    padding: 0 50px;
}

.channel-header__text{
    padding: 32px 40px 0;;
}

.channel-header__text-name{
    font-weight: 100;
    font-size: 18px;
    padding: 0 5px;
}

.channel-header__text-subscribe{
    font-weight: 400;
    padding: 5px;
    color: lightslategray;
}

.channel-header__subscribe-btn{
    display: flex;
    flex-flow: row;
    align-items: center;
}

#subscribe-logo{
    color: gray;
    font-size: 22px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 2px lightgray;
    height: 56px;
}

.nav-menu__videos-btn{
    width: 20%;
}

.nav-menu__playlist-btn{
    width: 45%;
}

.nav-menu__more-btn{
    width: 15%;
}

.nav-menu__main-btn{
    border-bottom: 2px solid red;
    width: 20%;
}

.video-playlist{
    display: flex;
    flex-flow: column;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.video-playlist__title{
    padding: 15px 10px 10px 10px;
    font-size: 14px;
}

.video-playlist__article{
    display: grid;
    grid-template: 3fr 1fr 1fr / 160px 1fr 40px ;
    grid-column-gap: 5px;
    height: 90px;
    padding: 5px 5px 5px 10px;
    
}

.video-playlist__video-img{
    grid-row: 1 / span 4;
    grid-column: 1;
    width:160px; 
    height: 90px;
}

.video-playlist__video-title{
    grid-row: 1;
    grid-column: 2;
    font-size: 14px;
}

.video-playlist__video-owner{
    grid-row: 2 / span 1;
    grid-column: 2;
    font-size: 12px;
    color: gray;
}

.video-playlist__video-visualisations{
    grid-row: 3 / span 1 ;
    grid-column: 2 / span 1;
    font-size: 12px;
    color: gray;
}

.video-playlist__video-options{
    font-size: 16px;
    padding: 8px 16px;
    text-align: left;
    vertical-align: top;
}

.video-playlist__more-videos{
    font-size: 18px;
    padding: 10px 10px 20px 10px;
}

@media (min-width: 768px){
    .main-header__mbl{
        display: none;
    }
    .main-header__dsktp{
        display: flex;
    }
    .channel-header__profile-img{
        width: 75px;
        height: 75px;
        margin: 15px 44px;
        
    }
    .channel-header__low-header{
        display: flex;
        flex-flow: row;
        margin: 0;
    }
    .video-playlist{
        flex-flow: row;
    }
    .video-playlist__video-options{
        display: none;
    }
}

@media (max-width: 768px){

    .main-header__mbl{
        display: flex;
    }
    .main-header__dsktp{
        display: none;
    }
    .channel-header__profile-img{
        width: 54px;
        margin: -100px -30px -25px;
    }
    .channel-header__low-header{
        margin: -15px 0;
    }
    
}